<div class="container-fluid">
    <h1 class="text-center1">Best Quotes</h1>
    <p class="text-center2">Find and add the best motivating,success quotes here.</p>
    <div class="row">
        <div class="col md-6">
            <h3 class="text-center4">Here are a Few:</h3>
            <hr>
        <div *ngFor='let quote of quotes ;let i = index'>
            <div class="detail">
                <p class="quote"> {{quote.name}} </p>
                <div>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>   
                </div>
            </div>
            <button (click)='toggleDetails(i)' class="bg-primary text-white">View More</button>
        </div>
        </div>
        <div class="col-md 6">
        <div>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        </div>
    </div>
</div>
